<footer class="site-footer ">
    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="">

                <ul class="contact-list">
                    <li>

                        Contact:
                        Google will reveal suitable email addresses.
                        GitHub users can see a
                        <a href="https://github.com/markvan">personal email</a>.
                    </li>

                </ul>
            </div>



        </div>

    </div>

</footer>