<footer class="site-footer ">
    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="">

                <ul class="contact-list">
                    <li>

                        Contact details: +44 7830 212 464.
                        Google will reveal a Hedtek email address.
                        GitHub users can see a
                        <a href="https://github.com/markvan">personal email</a>.
                    </li>
                    <li>


                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li >

                        Hedtek is a VAT-registered limited company.
                    </li>

                </ul>
            </div>



        </div>

    </div>

</footer>