---
layout: default
---

<div class="home">

    <h2> {{ site.title }}</h2>

    <h3 class="post-list-sub-heading">
        Current Activities
    </h3>


    <p>
        Hedtek works in a broad variety of IT and IT-related fields.
    </p>
    <p>
        Our overriding interest is
        in making complex systems incredibly easy-to-use.
    </p>
    <p>
        We are currently
        engaged in the design and development of CNC machines to
        enable the construction of higher precision CNC machines.
    </p>
    <p>
        Hedtek's
        <a href="https://linkedin.com/in/markvanharmelen">owner</a>
        is the CTO of
        <a href="https://prevayl.com">Prevayl</a>, an innovative
        health sciences and wearable technology company.

    </p>


    <h3 class="post-list-sub-heading">
        Past: Mid 2016 &ndash; Early 2020
    </h3>
    <p>
        Hedtek was formerly a vehicle
        for senior-level consultancy and contracting services.
    </p>
    <p>
        These were coupled with  <i>pro bono</i> open source development and startup mentoring.
    </p>



    <h3 class="post-list-sub-heading">
        Past: Mid 2007 &ndash; Mid 2016
    </h3>

    <p>
        In its earliest incarnation Hedtek was a Manchester-based software house
        with strong interests in technical and
        strategic consultancy.
    </p>
    <p>
        Besides straightforward commercial work for clients building and running
        production systems,
        we  performed applied research for several UK government agencies.
    </p>
    <p>
    One strand of research
        established the basis for a subsequent and ongoing multi-million pound data analytics programme
        in the UK's Higher Education sector.
    </p>
    <p>
        Hedtek developed Gradient; an electronic assessment system for universities
        and high schools. Gradient primarily focuses on ease-of-use for students and
        assessors.
    </p>
    <p>
        We retain our interests in further exploitation of Gradient's
        patent-protected technology.
    </p>
    <p>
        After nine years of successful operation, Hedtek was closed as a software house to
        enable its owner to make a lifestyle-motivated move to London.
    </p>

    <h3 class="post-list-sub-heading">
        Contact
    </h3>

    <p>
        Interested in anything to do with Hedtek?
        Please  make contact.


    </p>
</div>